{{> _header}}

<article class="site-body page-issue-edit">
    <h1>{{#i18n}}issue.edit.title,name:{{issueName}}{{/i18n}}</h1>

    {{#hasErrors}}
        <ul class="form-errors">
        {{#errors}}
            <li>{{.}}</li>
        {{/errors}}
        </ul>
    {{/hasErrors}}

    <form method="post" action="{{linkEdit}}">
        <p class="form-field project">
            <label for="form-input-project">{{#i18n}}form.project.label{{/i18n}}</label>
            <select id="form-input-project" name="projectId">
            </select>
        </p>
        <p class="form-field name">
            <label for="form-input-name">{{#i18n}}form.name.label{{/i18n}}</label>
            <input id="form-input-name" name="name" type="text" required="required" pattern="^.{1,}$" value="{{issue.name}}"/>
        </p>
        <p class="form-field description">
            <label for="form-input-description">{{#i18n}}form.description.label{{/i18n}}</label>
            <textarea id="form-input-description" name="description">{{issue.description}}</textarea>
        </p>
        <p class="form-buttons">
            <a href="{{#link}}issue,id:{{issue.id}}{{/link}}">{{#i18n}}button.cancel{{/i18n}}</a>
            <input type="submit" value="{{#i18n}}button.validate{{/i18n}}"/>
        </p>
    </form>

</article>

{{> _footer}}
