{{> _header}}

<article class="site-body">
    <h1>{{#i18n}}issue.sheet.title,name:{{issue.name}}{{/i18n}}</h1>
    <p>{{issue.description}}</p>

    <p><a href="{{linkEdit}}" class="button">{{#i18n}}button.edit{{/i18n}}</a></p>
</article>

{{> _footer}}
