{{> _header}}

<article class="site-body">
    <h1>{{#i18n}}issue.sheet.title,name:{{issue.name}}{{/i18n}}</h1>
    <p>{{issue.description}}</p>

    {{#editEnabled}}
        <p><a href="{{#link}}issue.edit,id:{{issue.id}}{{/link}}" class="button">{{#i18n}}button.edit{{/i18n}}</a></p>
    {{/editEnabled}}
</article>

{{> _footer}}
