<!DOCTYPE html>
<html>
    <head>
        <title>Document title</title>
        <link rel="stylesheet" type="text/css" href="{{#stylesheetsPath}}screen.css{{/stylesheetsPath}}"/>
    </head>
    <body>
