<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>neoTracker</title>
        <link rel="stylesheet" type="text/css" href="{{#stylesheetsPath}}screen.css{{/stylesheetsPath}}"/>
    </head>
    <body>
        {{#isLogged}}
            logged
        {{/isLogged}}
        {{^isLogged}}
            not logged
        {{/isLogged}}
