<nav>
    <ul>
        <li class="issues">
            <a href="{{#link}}issues{{/link}}">{{#_}}menu.issues{{/_}}</a>
        </li>
        <li class="milestones">
            <a href="{{#link}}milestones{{/link}}">{{#_}}menu.milestones{{/_}}</a>
        </li>
        <li class="projects">
            <a href="{{#link}}projects{{/link}}">{{#_}}menu.projects{{/_}}</a>
        </li>
        <li class="account">
            <img src="/themes/default/images/header/avatar-default.svg" alt="{{#_}}menu.account{{/_}}"/>
            <ul>
                <li><a href="{{#link}}profile{{/link}}">{{#_}}menu.profile{{/_}}</a></li>
                <li><a href="{{#link}}logout{{/link}}">{{#_}}menu.logout{{/_}}</a></li>
            </ul>
        </li>
    </ul>
</nav>
