<nav>
    <ul>
        <li class="issues">
            <a href="{{#link}}issues{{/link}}">{{#i18n}}menu.issues{{/i18n}}</a>
        </li>
        <li class="milestones">
            <a href="{{#link}}milestones{{/link}}">{{#i18n}}menu.milestones{{/i18n}}</a>
        </li>
        <li class="projects">
            <a href="{{#link}}projects{{/link}}">{{#i18n}}menu.projects{{/i18n}}</a>
        </li>
        <li class="account">
            <img src="/themes/default/images/header/avatar-default.svg" alt="{{#i18n}}menu.account{{/i18n}}"/>
            <ul>
                <li><a href="{{#link}}profile{{/link}}">{{#i18n}}menu.profile{{/i18n}}</a></li>
                <li><a href="{{#link}}logout{{/link}}">{{#i18n}}menu.logout{{/i18n}}</a></li>
            </ul>
        </li>
    </ul>
</nav>
