{
    "profile"           : "development",

    "themeGenerated"    : false,


    "profiles"          : {
        "production"        : {
            "themeGenerated"    : true
        },

        "development"       : {
            "themeGenerated"    : false
        }
    }
}
