{{> _header}}

<article class="site-body page-profile">
    <h1>{{#_}}profile.title{{/_}}</h1>

    <p>
        {{#_}}profile.email.label{{/_}} {{userEmail}}
    </p>
    <p>
        {{#_}}profile.nickname.label{{/_}} {{userNickname}}
    </p>
</article>

{{> _footer}}
