{{> _header}}

<article class="site-body page-profile">
    <h1>{{#i18n}}profile.title{{/i18n}}</h1>

    <p>
        <strong class="label">{{#i18n}}profile.email.label{{/i18n}}</strong> {{user.email}}
    </p>
    <p>
        <strong class="label">{{#i18n}}profile.nickname.label{{/i18n}}</strong> {{user.nickname}}
    </p>


    <p><a href="{{#link}}profile.edit{{/link}}" class="button">{{#i18n}}button.edit{{/i18n}}</a></p>
</article>

{{> _footer}}
