{{> _header}}

<article class="site-body page-profile">
    <h1>{{#i18n}}profile.title{{/i18n}}</h1>

    <p>
        {{#i18n}}profile.email.label{{/i18n}} {{userEmail}}
    </p>
    <p>
        {{#i18n}}profile.nickname.label{{/i18n}} {{userNickname}}
    </p>
</article>

{{> _footer}}
