/**
 * Form
 */
form {
    margin: 1rem 0;

    // Normally, each field is in a paragraph
    p {
        margin: .5rem 0;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Buttons of the form
.form-buttons {
    text-align: right;

    &:before {
        content: "";
        height: 1rem;
    }
}

// label
label {
    display: inline-block;
    vertical-align: top;
    padding: .5rem 0;

    font-weight: bold;
    text-align: right;
}

// Input text
input[type=text],
input[type=password],
input[type=email],
textarea {
    display: inline-block;
    vertical-align: top;
    padding: .45rem;
    margin: 0;

    font-size: 1rem;
    color: $global-text-color;

    outline: none;
    border: solid 0 $component-border-color;
    @include border-radius($component-border-radius);

    @include box-shadow(0, 0, 5px, rgb(160, 160, 160), true);

    // Change the border color on focus
    &:focus {
        @include box-shadow(0, 0, 5px, rgb(30, 30, 30), true);
    }

    &:invalid {
        background: red;
    }
}

// Submit button
input[type=submit] {
    @extend .button;
}

// Field note
.form-field-note {
    display: inline-block;
    vertical-align: top;
    padding: .5rem 0 0 0;
    margin: 0;
    font-size: .8rem;
    line-height: 1.1em;
}

// Errors
.form-errors {
    list-style: disc;
    background: #c23;
    color: #fff;
    padding: 1rem 1rem 1rem 2rem;

    @include border-radius($component-border-radius);

    li {
        margin-bottom: .5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Field separator
@mixin form-add-separator($column-count, $column-total, $gutter) {
    &:after {
        display: block;
        clear: both;
        content: "";
        background: #eee;
        height: 1px;

        @include column($column-count, $column-total, $gutter);
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
