/**
 * Form
 */
form {
    margin: 1rem 0;
    padding: 1rem;

    background: $global-panel-background;
    border: solid $global-border-width $component-border-color;
    @include border-radius($component-border-radius);

    // Normally, each field is in a paragraph
    p {
        margin: 1rem 0 .5rem 0;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// label
label {
    display: block;
    margin: 0 0 .2rem 0;
}

// Input text
input[type=text],
input[type=password],
input[type=email] {
    display: block;
    width: 100%;

    padding: .5rem;

    font-size: 1rem;
    color: $global-text-color;

    outline: none;
    border: solid $global-border-width $component-border-color;
    @include border-radius($component-border-radius);

    @include box-shadow(0, 0, 5px, rgb(200, 200, 200), true);

    // Change the border color on focus
    &:focus {
        border-color: $component-focus-color;
    }

    &:invalid {
        background: red;
    }
}

// Submit button
input[type=submit] {
    @extend .button;
}
