/**
 * Button
 */
.button {
    -webkit-appearance: none;

    padding: .5rem .8rem;
    margin: 0;

    text-decoration: none;
    font-size: 1rem;

    background: $component-button-background;

    border: none;
    @include border-radius($component-border-radius);

    color: $component-button-text-color;

    cursor: pointer;
    outline: none;

    // Hover
    &:hover,
    &:focus {
        background: darken($component-button-background, 10%);
        color: $component-button-text-color;
    }
}
