/**
 * Clearfix
 */
@mixin clearfix() {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

/**
 * Border radius
 *
 * @param   unit    $radius     The radius
 */
@mixin border-radius($radius: 0) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/**
 * Box shadow
 *
 * @param   unit    $x          X coordinate
 * @param   unit    $y          Y coordinate
 * @param   unit    $blur       Blur strength
 * @param   color   $color      Blur color
 * @param   boolean $inset      Indicates that the blur is inside the box
 */
@mixin box-shadow($x: 0, $y: 0, $blur: 0, $color: #000, $inset: false) {
    -webkit-appearance: none;

    @if $x == none {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    } @else if $inset {
        -moz-box-shadow: $x $y $blur $color inset;
        -webkit-box-shadow: $x $y $blur $color inset;
        box-shadow: $x $y $blur $color inset;
    } @else {
        -moz-box-shadow: $x $y $blur $color;
        -webkit-box-shadow: $x $y $blur $color;
        box-shadow: $x $y $blur $color;
    }
}

/**
 * Create a vertical gradient for the background
 *
 * @param   color   $color1     The color of the top
 * @param   color   $color2     The color of the bottom
 */
@mixin background-gradient-vertical($color1: #fff, $color2: #000) {
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color1 0%, $color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%); /* IE10+ */
    background: linear-gradient(to bottom, $color1 0%, $color2 100%); /* W3C */
}

