/**
 * Login page
 */
.page-login {
    $width: 25rem;

    // The title
    h1 {
        width: $width;
        margin-left: auto;
        margin-right: auto;
    }

    // The form
    form {
        width: $width;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;

        background: $global-panel-background;
        @include border-radius($component-border-radius);
    }
    label {
        width: 35%;
        padding-right: 1ex;
    }
    input[type=email],
    input[type=password] {
        width: 65%;
    }

    // The form errors
    .form-errors {
        padding: .7rem 1rem;
        margin-bottom: 1rem !important;
        text-align: center;
        font-weight: bold;
    }

    // Link to the recover the password
    .recoverPassword {
        display: inline-block;
        margin-left: 35%;
    }

    // The buttons
    .form-buttons {
        margin-top: 1.5em;
    }

    // The register button
    .register {
        background: #c98f3b;
        color: #fff;

        &:hover,
        &:focus {
            background: darken(#c98f3b, 10%);
            color: #fff;
        }

    }


    // Responsive
    @media screen and (max-width: 30rem) {
        h1 {
            width: auto;
        }
        form {
            width: auto;
        }
        label {
            display: block;
            width: auto;
            text-align: left;
        }
        input[type=email],
        input[type=password] {
            display: block;
            width: 100%;
        }

        // Link to the recover the password
        .recoverPassword {
            margin-left: 0;
            display: block;
        }

        // The buttons
        .form-buttons input {
            display: block;
            width: 100%;
            margin-left: 0;
        }

        // The register button
        .register {
            margin-top: .5em;
        }

    }
}


