.page-recover-password {

    #email {
        width: 20em;
    }

    .form-buttons {
        text-align: left;
        input {
            margin-left: 0;
        }
    }

    // Responsive
    @media screen and (max-width: 30rem) {
        #email {
            width: 100%;
        }

        .form-buttons {
            input {
                width: 100%;
            }
        }

    }
}
