.widget {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;


    h1 {
        font-size: 1.5rem;
    }

    // Widget: project
    &.project {
        width: 20rem;
        height: 10rem;

        background: $global-panel-background;
        @include border-radius($component-border-radius);

        h1 {
            text-align: center;
        }
    }

    // Widget: create a project
    &.project-create {
        width: 20rem;
        height: 10rem;
        text-align: center;

        background: $global-panel-background;
        @include border-radius($component-border-radius);

        p {
            padding-top: 2rem;
        }
    }
}
