// Properties
$grid-columns:                  12;
$grid-gutter:                   1%;
$grid-breakpoint-large:         1024px;
$grid-breakpoint-large-columns: $grid-columns;
$grid-breakpoint-large-gutter:  $grid-gutter;
$grid-breakpoint-medium:        768px;
$grid-breakpoint-medium-columns:8;
$grid-breakpoint-medium-gutter: $grid-gutter;
$grid-breakpoint-small:         400px;
$grid-breakpoint-small-columns: 4;
$grid-breakpoint-small-gutter:  $grid-gutter;
$global-panel-background:       rgb(230, 230, 230);
$global-text-color:             rgb(50, 50, 50);
$component-border-color:        darken($global-panel-background, 15%);
$component-focus-color:         rgb(120, 120, 180);
$component-border-radius:       5px;
$component-link-color:          rgb(120, 120, 180);
$component-button-background:   rgb(120, 120, 180);
$component-button-text-color:   rgb(250, 250, 250);
$site-background:               rgb(255, 255, 255);
$site-header-background:        rgb(57, 91, 129);
$site-header-text-color:        rgb(240, 240, 240);
$site-header-text-color-hover:  rgb(255, 255, 255);
$site-header-submenu-background:lighten($site-header-background, 5%);



// Reset
@import "_reset";

// Mixins
@import "_mixins";

// Grid
@import "_grid";


@import "_general";
@import "_component.link";
@import "_component.button";
@import "_component.form";
@import "_site.header";
@import "_site.body";
@import "_site.footer";
@import "_page.login";
@import "_page.project.create";
@import "_page.project.edit";
@import "_widgets";
