// Properties
$grid-columns:                  12;
$grid-gutter:                   1%;
$global-border-width:           2px;
$global-panel-background:       rgb(240, 240, 240);
$global-text-color:             rgb(50, 50, 50);
$component-border-color:        darken($global-panel-background, 15%);
$component-focus-color:         rgb(120, 120, 180);
$component-border-radius:       5px;
$component-link-color:          rgb(120, 120, 180);
$component-button-background:   rgb(120, 120, 180);
$component-button-text-color:   rgb(250, 250, 250);
$site-header-background:        rgb(44, 62, 80);
$site-header-text-color:        rgb(240, 240, 240);
$site-header-text-color-hover:  rgb(255, 255, 255);
$site-header-submenu-background:lighten($site-header-background, 5%);



// Reset
@import "_reset";

// Mixins
@import "_mixins";

// Grid
@import "_grid";


@import "_general";
@import "_component.link";
@import "_component.button";
@import "_component.form";
@import "_site.header";
@import "_site.body";
@import "_page.login";
