/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*
 * HTML5 display-role reset for older browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * *
 * * Border radius
 */
/*
 * *
 * * Box shadow
 */
/*
 * *
 * * Grid system
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row,
.site-header {
  padding: 0; }
  .row:before,
  .row:after,
  .site-header:before,
  .site-header:after {
    content: "";
    display: table; }
  .row:after,
  .site-header:after {
    clear: both; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif; }

p {
  line-height: 1.2rem;
  margin: 0.2rem 0 0 0; }

/*
 * *
 * * Link
 */
a,
.link {
  color: #7878b4; }
  a:hover,
  .link:hover,
  a:focus,
  .link:focus {
    color: #5959a0; }

/*
 * *
 * * Button
 */
.button,
input[type=submit] {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  background: #7878b4;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
  outline: none; }
  .button:hover,
  .button:focus,
  input[type=submit]:hover,
  input[type=submit]:focus {
    background: #5959a0; }

/*
 * *
 * * Form
 */
form {
  margin: 1rem 0;
  padding: 1rem;
  background: #f0f0f0;
  border: solid 2px #cacaca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  form p {
    margin: 1rem 0 0.5rem 0; }
    form p:first-child {
      margin-top: 0; }
    form p:last-child {
      margin-bottom: 0; }

label {
  display: block;
  margin: 0 0 0.2rem 0; }

input[type=text],
input[type=password],
input[type=email] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #323232;
  outline: none;
  border: solid 2px #cacaca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #c8c8c8 inset;
  -webkit-box-shadow: 0 0 5px #c8c8c8 inset;
  box-shadow: 0 0 5px #c8c8c8 inset;
  &: invalid;
  &-background: red; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus {
    border-color: #7878b4; }


/*
 * *
 * * Site header
 * *
 * * It contains the site title and the main navigation.
 */
.site-header {
  background: #2c3e50;
  border-bottom: solid 2px #11181f;
  padding: 0.7rem 1rem 0.5rem 1rem;
  color: #f0f0f0; }
  .site-header a {
    color: #f0f0f0;
    text-decoration: none; }
    .site-header a:hover,
    .site-header a:focus {
      color: white; }
  .site-header h1 {
    float: left;
    width: 49.5%;
    margin: 0 0 0 1%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .site-header h1:first-child {
    margin-left: 0; }
  .site-header nav {
    float: left;
    width: 49.5%;
    margin: 0 0 0 1%;
    text-align: right; }
  .site-header nav:first-child {
    margin-left: 0; }
  .site-header ul {
    display: inline-block; }
  .site-header li {
    display: inline-block; }

/*
 * *
 * * Site body
 */
.site-body {
  padding: 2rem 1rem;
  color: #323232; }
  .site-body h1 {
    font-size: 2rem;
    font-weight: bold; }

/*
 * *
 * * Login page
 */
  .page-login h1 {
    width: 25rem;
    margin-left: auto;
    margin-right: auto; }
  .page-login form {
    width: 25rem;
    margin-left: auto;
    margin-right: auto; }

