/*
 * *
 * * Grid system
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-row,
ul {
  padding: 0; }
  .grid-row:before,
  .grid-row:after,
  ul:before,
  ul:after {
    content: "";
    display: table; }
  .grid-row:after,
  ul:after {
    clear: both; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

body {
  color: #333333; }

ul {
  list-style: none;
  border: solid 1px red; }

li {
  background: false;
  float: left;
  width: 32.667%;
  margin: 0 0 0 1%;
  border: solid 1px blue; }
  li:first-child {
    margin-left: 0; }
  li:first-child {
    background: blue;
    float: left;
    width: 15.833%;
    margin: 0 0 0 1%;
    margin-left: 16.833%; }
  li:first-child:first-child {
    margin-left: 0; }
    li:first-child:first-child {
      margin-left: 16.833%; }
  li:last-child {
    background: red;
    float: left;
    width: 7.417%;
    margin: 0 0 0 1%;
    margin-right: 25.25%; }
  li:last-child:first-child {
    margin-left: 0; }
    li:last-child:first-child {
      margin-right: 25.25%; }
  @media screen and (max-width: 768px) {
    li {
  float: left;
  width: 7.417%;
  margin: 0 0 0 1%;
  background: green; }
  li:first-child {
    margin-left: 0; } }

