{{> _header}}

<article class="site-body page-change-password">
    <h1>{{#i18n}}changePassword.title{{/i18n}}</h1>

    {{#hasErrors}}
        <ul class="form-errors">
        {{#errors}}
            <li>{{.}}</li>
        {{/errors}}
        </ul>
    {{/hasErrors}}

    <form method="post" action="{{formAction}}">
        <p class="form-field password">
            <label for="password">{{#i18n}}form.password.label{{/i18n}}</label>
            <input id="password" type="password" name="password" required="required" pattern=".{6,}" autofocus="autofocus"/>
            <em class="form-field-note">{{#i18n}}form.password.note{{/i18n}}</em>
        </p>
        <p class="form-field">
            <label for="passwordConfirm">{{#i18n}}form.passwordConfirm.label{{/i18n}}</label>
            <input id="passwordConfirm" type="password" name="passwordConfirm" required="required" pattern=".{6,}"/>
        </p>
        <p class="form-buttons"><input type="submit" value="{{#i18n}}button.validate{{/i18n}}"/></p>
    </form>
</article>

{{> _footer}}
