{{> _header}}

<article class="site-body page-login">
    <h1>Login</h1>
    <form method="post" action="{{formAction}}">
        <p>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required="required" placeholder="my.name@domain.tld" autofocus="autofocus"/>
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required="required" placeholder=""/>
        </p>
        <p><input type="submit"/></p>
    </form>
</article>

{{> _footer}}
