{{> _header}}

<article class="site-body page-recover-password">
    <h1>{{#i18n}}recoverPassword.title{{/i18n}}</h1>

    {{#hasErrors}}
        <ul class="form-errors">
        {{#errors}}
            <li>{{.}}</li>
        {{/errors}}
        </ul>
    {{/hasErrors}}

    <form method="post" action="{{formAction}}">
        <p>
            {{#i18n}}recoverPassword.message{{/i18n}}
        </p>
        <p class="form-field">
            <label for="email">{{#i18n}}form.email.label{{/i18n}}</label>
            <input id="email" type="email" name="email" required="required" placeholder="my.name@domain.tld" autofocus="autofocus"/>
        </p>
        <p class="form-buttons"><input type="submit" value="{{#i18n}}button.validate{{/i18n}}"/></p>
    </form>
</article>

{{> _footer}}
