{{> _header}}

<article class="site-body">
    <h1>{{#_}}projects.title{{/_}}</h1>

    <section class="widget project-create">
        <h1>{{#_}}widget.project.create.title{{/_}}</h1>
        <p><a href="{{#link}}project.create{{/link}}" class="button">{{#_}}button.create{{/_}}</a></p>
    </section>
</article>

{{> _footer}}
