{{> _header}}

<article class="site-body">
    <h1>{{#_}}project.create.title{{/_}}</h1>

    <form method="post" action="">

        <p><input type="submit" value="{{#_}}button.create{{/_}}"/></p>
    </form>

</article>

{{> _footer}}
