{{> _header}}

<article class="site-body">
    <h1>{{#i18n}}project.sheet.title,name:{{project.name}}{{/i18n}}</h1>
    <p>{{project.description}}</p>

    <p><a href="{{linkEdit}}" class="button">{{#i18n}}button.edit{{/i18n}}</a></p>
</article>

{{> _footer}}
