{{> _header}}

<article class="site-body">
{{#project}}
    <h1>{{#i18n}}project.sheet.title,name:{{name}}{{/i18n}}</h1>
    <p>{{description}}</p>

    <p><a href="{{linkEdit}}" class="button">{{#i18n}}button.edit{{/i18n}}</a></p>
{{/project}}
</article>

{{> _footer}}
